<section class="about" id="about">
  <div class="container">
    <h2 class="visually-hidden">О школе</h2>
    <p class="about__descr">
      <span class="about__descr-highlight">Robo School</span> - учреждение для rhvghjtenv kegtmg;l etr,v;le,fg;vkle
      mrkvrn fkjvbtkbverkj jkdfbkjetvkej jb g nr vrn
    </p>
    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about__digit">10</div>
        <p class="about__text">УМК по различным направлениям в робототехнике</p>
      </li>
      <li class="about__item">
        <div class="about__digit">20</div>
        <p class="about__text">УМК по различным направлениям в робототехнике</p>
      </li>
      <li class="about__item">
        <div class="about__digit">100</div>
        <p class="about__text">УМК по различным направлениям в робототехнике</p>
      </li>
      <li class="about__item">
        <div class="about__digit">10000</div>
        <p class="about__text">УМК по различным направлениям в робототехнике</p>
      </li>
    </ul>
  </div>
</section>