<section class="benefits section-offset">
  <div class="container">
    <h2 class="benefits__title section-title">Что вы получите после курса</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Удостоверение</h3>
        <p class="benefits__descr">
          Дающее право преподавать ребенку для детей 6-12 лет
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Удостоверение</h3>
        <p class="benefits__descr">
          Дающее право преподавать ребенку для детей 6-12 лет
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          Удостоверение
          <span class="tooltip">
           <button class="btn-reset tooltip__btn" aria-describedby="id1">
             <svg>
              <use xlink:href="img/sprite.svg#tooltip-icon"></use>
             </svg>
           </button>
           <span class="tooltip__txt" role="tooltip" id="id1">
            <span class="visually-hidden">Тултип:</span>
            При наличии свободных мест
           </span>
          </span>
        </h3>
        <p class="benefits__descr">
          Дающее право преподавать ребенку для детей 6-12 лет
        </p>
      </li>
    </ul>
  </div>
</section>