<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        RoboSchooll
        <span class="hero__title-text">
          Курсы повышения квалификации
        </span>
      </h1>
      <a href="#tariffs" class="hero__link btn btn-reset" data-scroll>Записаться на курс</a>
    </div>
    <div class="hero__image">
      <picture>
        <sourse srcset="img/hero-image.pngavif" type="image/avif">
          <sourse srcset="img/hero-image.pngwebp" type="image/webp">
            <img loading="lazy" src="img/hero-image.png" class="image" width="783" height="917" alt="">
      </picture>
    </div>
  </div>
</section>