<section class="trainers" id="trainers">
  <div class="container">
    <h2 class="section-title trainers__title">Профессиональные тренеры</h2>
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <sourse srcset=".avif" type="image/avif">
              <sourse srcset=".webp" type="image/webp">
              <img loading="lazy" src="." class="image" width="" height="" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>